/*
wrote by Bao Xin Chen
https://baoxinchen.github.io/baoxinchen/
*/

a:link {
	color: black;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: black;
}

a:active {
	color: black;
}

p {
	text-align: justify;
	margin: 0px 0px 0px 0px;
}

.frame_div {
	max-width: 800px;
	margin: auto auto;
}

table, th, tr, td {
	overflow: hidden;
	border-spacing: 0px;
	/*border: 1px solid black;*/
}

.frame_table {
	max-width: 800px;
	margin: auto auto;
}

#info_links {
	margin-left:auto;
	margin-right:auto;
}

#info_links tr td {
	padding: 0px 2px 0px 2px;
	vertical-align: center;
}

#name_block {
	padding-left: 30px;
}

#mypicture {
	height:150px;
}

#name {
	font-size: 32px;
	font-weight: bold;
	padding-bottom: 5px;
}

#name_small {
	font-size: 26px;
	font-weight: bold;
	padding-bottom: 5px;
}

#mytitle {
	font-size: 20px;
	font-weight: bold;
	padding-bottom: 5px;
}

.paper_info_div {
	padding-left: 5px;
}

#paper_icons_table tr td {
	padding: 0 0 0 0;
	vertical-align: top;
}


#copyright {
	font-size:12px; 
	width: 100%; 
	text-align:center;
}

#map {
	display: none;
	width: 100%; 
	text-align:center;
}
