/*
wrote by Bao Xin Chen
https://baoxinchen.github.io/
*/

html {
	font-size: 16px; 
	font-family: Arial;
}

table, th, tr, td {
	overflow: hidden;
	border-spacing: 0px;
	/*border: 1px solid black;*/
}

p {
	margin: 0px;
	padding: 0px;
}

/* all kind of pictures with links */
a:link, a:visited, .picture_link:hover, .picture_link:active {
	background:white;
	color:black;
	text-decoration: none;
}

a:hover, a:active {
	background:black;
	color:white;
	text-decoration: none;
}

#aboutme, #activities_table tr td, #awards_table tr td {
	text-align: justify;
}

.frame_div, .frame_table, #header_table {
	max-width: 800px;
	margin: auto auto;
}

.frame_table {
	max-width: 800px;
	margin: auto 0;
}

#info_links {
	margin-left: auto;
	margin-right: auto;
}

#info_links tr td {
	padding: 0px 3px 0px 3px;
}

.info_link_icon {
	height: 32px;
	vertical-align: middle;
}

#name_block {
	padding-left: 30px;
}

#mypicture {
	height: 150px;
	border: 2px solid white;
	border-radius: 10px;
	padding: 2px;
}

#mypicture:hover {
	border: 2px solid black;
	border-radius: 10px;
}

#name {
	font-size: 32px;
	font-weight: bold;
	padding-bottom: 5px;
}

#name_small {
	font-size: 20px;
	font-weight: bold;
	padding-bottom: 5px;
}

#mytitle {
	/*font-size: 16px;*/
	font-weight: bold;
	padding-bottom: 5px;
}

.paper_info_cell {
	padding-left: 5px;
}

.paper_info_icon_span, .icon_span {
	display: inline-block;
	width: 19px;
	/*vertical-align: middle;*/
}

.paper_links_span {
	padding-right:5px;
	/*vertical-align: middle;*/
}

#map {
	display: none;
	width: 100%; 
	text-align: center;
}

#copyright {
	font-size: 12px; 
	width: 100%; 
	text-align: center;
}
