/*
wrote by Bao Xin Chen
https://baoxinchen.github.io/baoxinchen/
*/

a:link {
	color: black;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: black;
}

a:active {
	color: black;
}

p {
	text-align: justify;
	margin: 0px 0px 0px 0px;
}

#thisdiv {
	max-width: 800px;
	margin: 0 auto;
}

table, th, td {
	//border: 1px solid black;
}

#copyright {
	font-size:11px; 
	width: 100%; 
	text-align:center;
}
